# Facebook App Credentials
FB_APP_ID=1165622645698013
FB_APP_SECRET=4b13b4bfea3eb245cdbd195508ac121f

# Server Config
PORT=3009
BASE_URL=https://odis-nondialyzing-hotly.ngrok-free.dev

# Email Config (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=octobotchatbot@gmail.com
SMTP_PASS=nqgi jzit pdir lnbm
APP_URL=https://odis-nondialyzing-hotly.ngrok-free.dev

# Telegram API Credentials
TELEGRAM_API_ID=21096523
TELEGRAM_API_HASH=7e6a96632ded6ce759ae7a03edfbaf0d

# Groq AI API Key (Get from: https://console.groq.com/keys)
GROQ_API_KEY=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

# OpenAI API Key
OPENAI_API_KEY=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
