<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- MIME Types for static files -->
        <staticContent>
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        
        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Force HTTPS -->
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Allow static files to be served directly -->
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(sitemap\.xml|robots\.txt|googleadd6ddc9979309c5\.html|logo\.png|logo-icon\.png|logo-light\.png|favicon\.ico)$" />
                    <action type="None" />
                </rule>
                
                <!-- Reverse Proxy to Node.js -->
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
                        <set name="HTTP_X_FORWARDED_HOST" value="octomedia.octobot.it.com" />
                    </serverVariables>
                    <action type="Rewrite" url="http://localhost:3009/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
